<form method="post" action="{{ path('materias_delete', {'id': materia.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materia.id) }}">
    <button class="btn">Delete</button>
</form>
